@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

body{  
    font-family:'Mukta Mahee', sans-serif;
}

nav{
    background:linear-gradient(#0f0c29, #302b63, #24243e);
}

h1{
    text-align: center;
    padding: 20px;
}

.navbar-brand{
    color:white;
    font-size: 1.5em;
}
.elementItem img {
    width: 100%;
    padding: 0;
}
.image-div img{
    width: 100%;
}

div{
    padding: 10px;
}
.container-fluid{
    padding: 0;
}
.searchList{
    position: absolute;
    top: 58px;
    right: 34px;
    width: 220px;
    list-style-type: none;
    background-color: #f7f7f7;
    border-radius: 5px;
    z-index: 1;
    
}
.searchList li{
    padding: 5px;
    border-bottom: 1px solid rgb(199, 194, 194);
}
a:hover{
    text-decoration: none;
}

.searchList li:last-child {
    border: none;
}
